
/* Element selector */
/* div{
    background-color: red;
} */

/* Class selector */
.red
{
    background-color: red;
}

#green{
background-color: green;
}

/* Child selector */

div  > p{
    color: blue;
    background-color: brown;
} 

/* Descendant selector */
div p {
    color: yellow;
    background-color: brown;
}


/* Universal selector */
*{
    margin: 0;
    padding: 0;
}

/* Pseudo selector */
a:visited{
    color: yellow;
}

a:link{
    color: green;
}

a:active{
    background-color: red;
}

a:hover{
  background-color: yellow;

}

p:first-child{
    background-color: aqua;
}

